[alias]
	st = status
	undo = reset
	lc = log ORIG_HEAD.. --stat --no-merges
[user]
	email = alankennedy100@gmail.com
	name = Alan Kennedy
[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto
[github]
	user = alan
	token = 2afb799bf670b9feab0b3c2ac819c1d7
[push]
    default = current
